console.log(store.getState())

// Prints
{
  visibilityFilter: 'SHOW_ALL',
  todos: [
    {
      text: 'Thank you for coming to my LevelUP session',
      completed: true,
    },
    {
      text: 'Stay Awesome',
      completed: true
    }
  ]
}